@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

#showTour {
  display: flex;
  font-size: small;
}

#couleur {
  margin-left: 5;
}

#timer {
  display: flex;
}
